<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Orleans.Core" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansHost" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Orleans.OrleansRuntime" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="Nowin" version="0.22.1.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>