name: .NET Core

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Test
      run: |
        cd Tests/UnitTests
        dotnet test
        cd ../../
    - name: Build
      run: |
        dotnet build --configuration Release
    - name: Publish
      run: |
        ! dotnet nuget push **/Release/*.*.nupkg --source 'https://api.nuget.org/v3/index.json' -k ${{ secrets.nuget }} --skip-duplicate
      if: github.ref == 'refs/heads/master'
